@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @font-face {
//     font-family: 'Fruktur-Regular';
//     font-style: normal;
//     src: local('Fruktur-Regular'), local('Montserrat-Regular'),
//         url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('woff2'),
//         url('./assets/fonts/Fruktur/Fruktur-Regular.ttf') format('woff');
// }

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

body {
    font-family: 'Montserrat-Regular';
    margin: 0 !important;
}

// .btn-primary:hover,
// .btn-primary:focus,
// .btn-primary:active,
// .btn-primary:active:focus:not(:disabled):not(.disabled),
// .btn:focus,
// .btn:active,
// .btn:hover {
//     box-shadow: none !important;
//     outline: 0;
// }

// .button-primary-override:hover,
// .button-primary-override:active,
// .button-primary-override:focus,
// .button-primary-override:visited {
//     background-color: #42a5f5 !important;
//     border-color: #42a5f5 !important;
//     background-image: none !important;
//     border: 0 !important;
// }

// .btn-primary:not(:disabled):not(.disabled).active,
// .btn-primary:not(:disabled):not(.disabled):active,
// .show > .btn-primary.dropdown-toggle {
//     color: #fff;
//     background-color: #f7b432;
//     border-color: #f7b432;
// }
// .btn {
//     padding: 4px 10px;
//     display: inline-block;
//     border-radius: 50px;
//     background-color: #00b1ff;
//     color: white;
//     border: 5px solid white;
//     transition: border 0.2s ease;
// }
// .btn:hover {
//     border: 5px solid #81d9ff;
//     cursor: pointer;
// }

// .btn-primary:active {
//     background-color: red;
// }

.xlModal > .modal-dialog {
    max-width: 1490px !important;
    min-width: 360px !important;
    width: 95% !important;
}

//resolve select material in modal
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}
