<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="isOpen">
        <div class="sidenav-logo-container">
            <app-logo></app-logo>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-right">
                    <h6 class="nameCompany">{{ nameCompany || '' }}</h6>
                </div>
            </div>
        </div>
        <mat-nav-list>
            <mat-nav-list>
                <a
                    (click)="navigate('nav/home')"
                    mat-list-item
                    class="ml-2"
                    style="font-size:15px;"
                >
                    Homepage
                </a>
            </mat-nav-list>
            <mat-accordion multi="true" [displayMode]="displayMode">
                <mat-expansion-panel class="no-shadow">
                    <mat-expansion-panel-header
                        fxLayout="row"
                        [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight"
                    >
                        <mat-panel-title>
                            Buy Airtime
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <mat-list-item>
                            <a
                                (click)="navigate('nav/home/home3')"
                                mat-list-item
                                class="ml-2"
                                style="font-size:15px;"
                            >
                                Page2
                            </a>
                            <!-- <button mat-icon-button class="mr-3">
                                <mat-icon>info</mat-icon>
                            </button> -->
                        </mat-list-item>
                        <!-- <mat-list-item>
                            <a href="#">Vodafone Airtime</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a href="#">MTN Airtime</a>
                        </mat-list-item>
                        <mat-list-item>
                            <a href="#">GLO Airtime</a>
                        </mat-list-item> -->
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- <app-nav-menu-item
                *ngFor="let navigationItem of getNavigationItems()"
                [navigationItem]="navigationItem"
            ></app-nav-menu-item> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-toolbar
            [activePage]="getActivePage()"
            (toggleSideNav)="toggleSideNav()"
            (logout)="logout()"
            [previousUrl]="getPreviousUrl()"
        ></app-nav-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
